@page "/"
@using LogicaNegocios.Entities;
@using LogicaNegocios;

<PageTitle>Index</PageTitle>

<h1>Cantidad de clientes @cantidadDeClientes</h1>
<button class="btn btn-primary" @onclick="ObtenerCantidad">ObtenerCantidad</button>
<table class="table text-center table-hover">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Codigo</th>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
        
            @foreach (Cliente cliente in clientes)
            {
            <tr>
                <td>@cliente.Id</td>
                <td>@cliente.Codigo</td>
                <td>@cliente.Nombre</td>
            </tr>
            }
    </tbody>
</table>

@code
{
    List<Cliente> clientes = new List<Cliente>();
    Class1 clase = new Class1();
    int? cantidadDeClientes = 0;
    protected override void OnInitialized()
    {
        clientes = clase.ObtenerClientesPorNombre("Juan");
        base.OnInitialized();
    }

    //protected override async Task OnInitializedAsync()
    //{
    //    cantidadDeClientes = await clase.ObtenerCantidadDeClientesAsync();
    //    await base.OnInitializedAsync();
    //}

    private async Task ObtenerCantidad()
    {
        cantidadDeClientes = await clase.ObtenerCantidadDeClientesAsync();
    }
}
